body{
  font-size: 100%;
  margin: 15px;
  background-color: bisque;
  color: rgb(71, 50, 23);
}

h1{
  font-size: 140%;
}

h2{
  font-size: 120%;
}

ul{
  list-style-type: circle;
  margin: 10px;
}

td, th{
  border: 1px black solid;
  padding: 5px;
}

th {
  background-color: aquamarine;
}

td:nth-child(1) {
  background-color: aquamarine;
}